extends layout

block menuitem
  - var active = 'Articles';

block content
  .container.page-content.no-horizontal-padding
    .list
      ul
        each category in categories
          li
            a.category(href='#sec'+category.tag, data-toggle='collapse')
              span.category-title= category.name
              span.category-caret.fa.fa-caret-down
              //- TODO(naum): Count total read
              span.category-information= '0/'+category.articles.length
            ul.collapse.in(id='sec'+category.tag, aria-expanded='true')
              each article in category.articles
                li
                  // TODO(naum): Insert new and read classes
                  a(href='/articles/'+article._id)= article.title
                  span.article-information
                    - difficulties = ["Newbie 0-1199", "Pupil 1200-1399", "Specialist 1400-1599", "Expert 1600-1899", "Candidate Master 1900-2199", "Master 2200-2299", "International Master 2300-2399", "Grandmaster 2400-2599", "International Grandmaster 2600-2899", "Legendary Grandmaster 2900+"];
                    i.rating.rating-icon.fa.fa-bookmark(class='rating-'+article.rating, data-toggle="tooltip", title=difficulties[article.rating])
  if currentUser
    .container
      a(href="/articles/new")
        button.btn.btn-success.pull-right(style='margin-top: 8px') Contribute
