extends layout

block content
  .container.topic-content
    //- TODO(naum): receive content by routing
    :markdown
      # Topic Content
      ## small test
      This is only a test in marked
      - list elem 1
      - list elem 2
