extends layout

block content
  .container
    .category-tags
      span.category-tag dp
      span.category-tag graphs
    //- TODO(naum): receive content by routing
    :markdown
      # Topic Content
      ## small test
      This is only a test in marked
      - list elem 1
      - list elem 2
