extends layout

block menuitem
  - var active = 'Articles';

block content
  .container.page-content
    .category-tags
      i.fa.fa-tags
      each tag in article.tags
        a.category-tag(href='#', title=tag.name)= tag.tag
    //-
    //- .requirements
    //-   | requirements
    div!= article.content
    hr
    .article-author
      - var author = article.author.profile
      a.rating(href='/profile/'+author.username, class="rating-"+author.rating)= author.username
    .article-date= moment(article.createdAt).fromNow()
