extends layout

block menuitem
  - var active = 'Articles';

block content
  .container
    .category-tags
      a.category-tag(href="#") dp
      a.category-tag(href="#") graphs
    //- TODO(naum): receive content by routing
    :markdown
      # Topic Content
      ## small test
      This is only a test in marked
      - list elem 1
      - list elem 2
