extends layout

block menuitem
  - var active = 'Articles';

block content
  .container.page-content
    .category-tags
      i.fa.fa-tags
      each category in categories
        a.category-tag(href=category.url, title=category.title)= category.tag
    //-
    //- .requirements
    //-   | requirements
    div!= content
    hr
    .article-author
      a.rating(href='/profile/'+author.name, class="rating-"+author.rating)= author.name
    .article-date= moment(date).fromNow()
