extends layout

block menuitem
  - var active = 'Articles';

block content
  .container.page-content
    .category-tags
      i.fa.fa-tags
      each tag in tags
        a.category-tag(href='#', title=tag.name)= tag.tag
    //-
    //- .requirements
    //-   | requirements
    div!= article.content
    hr
    .article-author
      a.rating(href='/profile/'+author.profile.username, class="rating-"+author.profile.rating)= author.profile.username
    .article-date= moment(article.createdAt).fromNow()
