extends layout

block content
  .container
    .sign
      if message.length
        p.bg-danger.login-errors= message

      .sign-social
        .sign-title Social signup
        .sign-social-buttons
          a(href='/auth/github')
            button.btn.btn-primary
              i.fa.fa-github.fa-3x
        .text-info no account?
        a(href='/signup') sign up by e-mail

      hr

      .sign-local
        .sign-title Login
        form.form-horizontal(action='/login', method='post')
          .form-group
            input.form-control(type='text', name='email', placeholder='Email', required)
          .form-group
            input.form-control(type='password', name='password', placeholder='Password', required)
          button.btn.btn-primary(type='submit') Login
