extends layout

block content
  .container
    .sign
      if message.length
        p.bg-danger.sign-errors= message

      .sign-local
        .sign-title Sign up
        form.signup-form.form-horizontal(action='/signup', method='post')
          .form-group
            input.form-control(type='text', name='username', placeholder='Username ([a-zA-Z0-9_-]{3,})', pattern='[a-zA-Z0-9_-]{3,}', required)
          .form-group
            input.form-control(type='email', name='email', placeholder='Email', required)
          .form-group
            input.form-control(type='password', name='password', placeholder='Password (.{6,})', pattern='.{6,}', required)
          .form-group.has-feedback.signup-confirm
            input.form-control(type='password', name='confirm', placeholder='Confirm Password', required)
            i.form-control-feedback.fa.fa-check(aria-hidden='true')
            i.form-control-feedback.fa.fa-times(aria-hidden='true')
          button.btn.btn-primary(type='submit', disabled) Shall we?

      hr

      .text-info already have account?
      a(href='/login') login
