.header
  .container-fluid
    .header-left
      a(href="/")
        span CP Platform
    .header-right
      a.user-menu-toggle(href="#", data-toggle="collapse", data-target="#user-menu")
        span username
        img.header-logo(src="/images/user.png")
    include ./usermenu.jade
