.header
  .container-fluid
    .header-left
      a(href="/")
        span CP Platform
    .header-right
      if currentUser
        a.user-menu-toggle(href="#", data-toggle="collapse", data-target="#user-menu")
          span= currentUser.profile.username
          img.header-logo(src=currentUser.profile.avatar_url ? currentUser.profile.avatar_url : "/images/user.png")
      else
        a(href="/login") sign in
    include ./usermenu.jade
