.container.menu
  ul
    li.active: a(href="/") Home
    li: a(href="/articles") Articles
    li: a(href="#") Glossary
  .form-group.has-feedback.pull-right.search
    input.form-control.input-sm(type="text", placeholder="Search")
    i.form-control-feedback.fa.fa-search(aria-hidden="true")
